.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #96a0e8;
}

.nav-title {
  font-size: 2.5em;
  color: #2c3e50; /* Darker color for the Pantry Master title */
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #3498db; /* Link color */
  font-weight: bold;
}

.nav-links a:hover {
  color: #2980b9;
}
